.App{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.header{
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shoppingCartIcon{
  font-size: 30px;
  margin-right: 25px;

}

.pageContent{
  display: flex;
  flex: 1;
  overflow-y: auto;
}
.footer{
  height: 60px;
  background-color: black;
}

.itemCard, .itemCardBadge{
  margin:8px;
}

.itemCardImage{
  height: 150px !important;
  object-fit: scale-down;
}
